html {
    @import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
}

header {
    background-color: #FFFFFF;
    height: 49px;
    width: 697px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    display:flex;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
}

#logo {
    font-size: 30px;
    line-height: 32px;
    color: #777777;
    margin-left: 5%;
}

#logo2 {
    font-size: 10px;
    line-height: 11px;
    color: #AAAAAA;
}

#navIcon {
    margin-top: 10px;
    margin-left: 75%;
}

main {
    background-color: #FFFFFF;
    height: 950px;
    width: 697px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#carrossel {
    width: 608px;
    height: 259px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.forwardElipse {
    position: absolute;
    margin-top: 110px;
    margin-left: 595px;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background: rgba(141, 141, 141, 0.62);
}

.forwardElipse img {
    margin-top: 10px;
    margin-left: 15px;
}

.backwardElipse {
    position: absolute;
    margin-top: 110px;
    margin-left: 55px;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background: rgba(141, 141, 141, 0.62);
}

.backwardElipse img {
    margin-top: 10px;
    margin-left: 15px;
}

#catalogo {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 10px;
}

.newStatus {
    position: absolute;
    width: 56px;
    height: 21px;
    background: #51D275;
    border-radius: 10.5px;
    margin-left: 185px;
}

.newStatus p {
    text-align: center;
    margin: auto;
    color: white;
    font-size: 20px;
}

.saleStatus {
    position: absolute;
    width: 56px;
    height: 21px;
    background: #DC9730;
    border-radius: 10.5px;
    margin-left: 185px;
}

.saleStatus p {
    text-align: center;
    margin: auto;
    color: white;
    font-size: 20px;
}

.price {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 25px;
    margin-left: 12px;
    color: #888888;
}

.description {
    margin-top: auto;
    margin-right: 13px;
    margin-left: 13px;
    margin-bottom: 13px;
    height: 44px;
    width: 231px;
}

.lofts {
    width: 256px;
    height: 242px;
    background-color: #EEEEEE;
}

#loft1 {
    margin-right: 14%;
}

p {
    font-family: 'Ropa Sans', sans-serif;
    text-align: justify;
    color: #555555;
}

#yourStyle {
    font-size: 25px;
    color: gray;
    text-align: center;
    margin-bottom: 13px;
}

.designStyles {
    width: 608px;
    display: grid;
    opacity: 0.8;
    margin: auto;
}

.industrialDesign {
    position: relative;
    background-image: url(./img/industrial.png);
    height: 80px;
    width: 608px;
    margin-bottom: 13px;
}

.industrialDesign p {
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

.modernDesign {
    position: relative;
    background-image: url(./img/modern.png);
    height: 80px;
    width: 608px;
    margin-bottom: 13px;
}

.modernDesign p {
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

.classicDesign {
    position: relative;
    background-image: url(./img/classic.png);
    height: 80px;
    width: 608px;
}

.classicDesign p {
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

img {
    margin-bottom: 15px;
}
footer {
    background-color: #333333;
    height: 243px;
    width: 697px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.contacts {
    width: 175px;
    height: 95px;
    font-size: 12px;
    text-align: justify;
    margin-left: 170px;
    margin-top: 40px;
    color: #FFFFFF;
}

.contacts p {
    color: #FFFFFF;
}

#map {
    height: 163px;
    width: 253px;
    margin-left: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.socialMedias {
    position: absolute;
    margin-top: 165px;
    margin-left: 467px;
    width: 100px;
    height: 20px;
}

.icons {
    padding: 5px;
}

